<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095874957048-it40qiavsgn7equldumrlsq66ef77oq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095874957048-it40qiavsgn7equldumrlsq66ef77oq9</string>
	<key>API_KEY</key>
	<string>AIzaSyDeGSw1YrsKPe58ewwqt24mw052Ut_c0TI</string>
	<key>GCM_SENDER_ID</key>
	<string>1095874957048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pau.flutterFirebaselogin</string>
	<key>PROJECT_ID</key>
	<string>bourbon-tutorial</string>
	<key>STORAGE_BUCKET</key>
	<string>bourbon-tutorial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095874957048:ios:f60db3a1abf8c81930f50d</string>
</dict>
</plist>